In [25]:
import pandas as pd

In [26]:
list={"ira":["female","19","Randi","lilongwe","single","MASE"],
      "Banda":["male","29","Malawian","Dowa","single","Masters"],
      "Mativa":["male","14","Randi","lilongwe","single","still a student"],
      "Desire":["female","20","Randi","lilongwe","single","MASE"],
      "Amos":["male","22","Randi","lilongwe","single","MASE"],
      "Ester":["female","24","Randi","lilongwe","single","MASE"],
      "Yankho":["male","29","Malawian","Brantaya","single","MASE"],
      "Chifundo":["female","56","Randi","lilongwe","single","MASE"],
      "Tapiwa":["female","17","Malawian","lilongwe","single","MASE"],
      "Felister":["female","22","congol","lilongwe","single","MASE"],
      "Kelly":["female","18","Randi","lilongwe","single","MASE"],
      "Eliza":["female","14","Randi","lilongwe","single","MASE"],
      "Moyo":["female","19","Randi","lilongwe","single","MASE"],
      "Hasan":["male","25","Randi","lilongwe","single","MASE"],
      "Manzi":["male","29","Randi","lilongwe","single","degree"]
     }
df=pd.DataFrame(list)
print(df)

        ira     Banda           Mativa    Desire      Amos     Ester  \
0    female      male             male    female      male    female
1        19        29               14        20        22        24
2     Randi  Malawian            Randi     Randi     Randi     Randi
3  lilongwe      Dowa         lilongwe  lilongwe  lilongwe  lilongwe
4    single    single           single    single    single    single
5      MASE   Masters  still a student      MASE      MASE      MASE

     Yankho  Chifundo    Tapiwa  Felister     Kelly     Eliza      Moyo  \
0      male    female    female    female    female    female    female
1        29        56        17        22        18        14        19
2  Malawian     Randi  Malawian    congol     Randi     Randi     Randi
3  Brantaya  lilongwe  lilongwe  lilongwe  lilongwe  lilongwe  lilongwe
4    single    single    single    single    single    single    single
5      MASE      MASE      MASE      MASE      MASE      MASE      MASE

      Hasan     Manzi
0      male      male
1        25        29
2     Randi     Randi
3  lilongwe  lilongwe
4    single    single
5      MASE    degree

In [27]:
list=[["ira","67"],["alice","78"]]
df=pd.DataFrame(list, columns=["Name","age"])
print(df)

    Name age
0    ira  67
1  alice  78

In [6]:
df=pd.read_csv("survey_results.csv")
df

,qid,qname,question,force_resp,type,selector
0,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
1,QID127,Age,What is your age?*,True,MC,SAVR
2,QID296,Employment,Which of the following best describes your cur...,True,MC,MAVR
3,QID308,RemoteWork,Which best describes your current work situation?,False,MC,SAVR
4,QID341,Check,Just checking to make sure you are paying atte...,True,MC,SAVR
...,...,...,...,...,...,...
82,QID337,JobSatPoints_7,"Learning and using new technology, including p...",NaN,MC,MAVR
83,QID337,JobSatPoints_8,"Designing and building environments, databases...",NaN,MC,MAVR
84,QID337,JobSatPoints_9,"Being a power user of a tool, developer langua...",NaN,MC,MAVR
85,QID337,JobSatPoints_10,Working with new and/or top-quality hardware,NaN,MC,MAVR
86,QID337,JobSatPoints_11,A well-staffed/sourced internal network that m...,NaN,MC,MAVR

In [41]:
with open("survey_results.csv","r")as file:
    df=pd.read_csv(file)
    qname1=df.loc[6]
    qname2=df.loc[7]
    qname3=df.loc[15]
    qname4=df.loc[60]
    print(df)
    print(qname1,qname2,qname3,qname4)

       qid            qname  \
0     QID2       MainBranch
1   QID127              Age
2   QID296       Employment
3   QID308       RemoteWork
4   QID341            Check
..     ...              ...
82  QID337   JobSatPoints_7
83  QID337   JobSatPoints_8
84  QID337   JobSatPoints_9
85  QID337  JobSatPoints_10
86  QID337  JobSatPoints_11

                                             question force_resp type selector
0   Which of the following options best describes ...       True   MC     SAVR
1                                  What is your age?*       True   MC     SAVR
2   Which of the following best describes your cur...       True   MC     MAVR
3   Which best describes your current work situation?      False   MC     SAVR
4   Just checking to make sure you are paying atte...       True   MC     SAVR
..                                                ...        ...  ...      ...
82  Learning and using new technology, including p...        NaN   MC     MAVR
83  Designing and building environments, databases...        NaN   MC     MAVR
84  Being a power user of a tool, developer langua...        NaN   MC     MAVR
85       Working with new and/or top-quality hardware        NaN   MC     MAVR
86  A well-staffed/sourced internal network that m...        NaN   MC     MAVR

[87 rows x 6 columns]
qid                                                       QID25
qname                                                   EdLevel
question      Which of the following best describes the high...
force_resp                                                 True
type                                                         MC
selector                                                   SAVR
Name: 6, dtype: object qid                                                     QID276
qname                                                LearnCode
question      How do you learn to code? Select all that apply.
force_resp                                               False
type                                                        MC
selector                                                  MAVR
Name: 7, dtype: object qid                                                      QID279
qname                                                BuyNewTool
question      When buying a new tool or software, how do you...
force_resp                                                False
type                                                         MC
selector                                                   MAVR
Name: 15, dtype: object qid                                                  QID326
qname                                              Industry
question      What industry is the company you work for in?
force_resp                                            False
type                                                     MC
selector                                               SAVR
Name: 60, dtype: object

In [49]:
data=df["qname"]
print(data)

0          MainBranch
1                 Age
2          Employment
3          RemoteWork
4               Check
           ...
82     JobSatPoints_7
83     JobSatPoints_8
84     JobSatPoints_9
85    JobSatPoints_10
86    JobSatPoints_11
Name: qname, Length: 87, dtype: object

In [4]:
import pandas as pd
with open("survey_results.csv","r")as file:
    df=pd.DataFrame(file)

                                                    0
0       qid,qname,question,force_resp,type,selector\n
1   QID2,MainBranch,"Which of the following option...
2        QID127,Age,What is your age?*,TRUE,MC,SAVR\n
3   QID296,Employment,Which of the following best ...
4   QID308,RemoteWork,Which best describes your cu...
..                                                ...
83  QID337,JobSatPoints_7,"Learning and using new ...
84  QID337,JobSatPoints_8,"Designing and building ...
85  QID337,JobSatPoints_9,"Being a power user of a...
86  QID337,JobSatPoints_10,Working with new and/or...
87  QID337,JobSatPoints_11,A well-staffed/sourced ...

[88 rows x 1 columns]

In [1]:
import pandas as pd

In [18]:
#this is to filler the information
df = pd.read_csv("employees.csv")
df.columns=[column.replace(" ","_") for column in df.columns]
df.query('Senior_Management == True and Gender == "Female" and Salary<=43694 and Team=="Marketing"',inplace=True)
df

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus_%,Senior_Management,Team
331,Evelyn,Female,9/3/1983,1:58 PM,36759,17.269,True,Marketing
894,Betty,Female,11/19/2002,10:40 AM,37005,7.645,True,Marketing

In [22]:
df = pd.read_csv("employees.csv")
df.rows=[row.replace(" ","_") for row in df.rows]
df

AttributeError: 'DataFrame' object has no attribute 'rows'

In [6]:
import pandas as pd
import csv

header_lst =['FullName','Gender','Nationality','Location','M_status','Phone number']
with open("Header Sample.cvs","w")as file:
    file_write=csv.DictWriter(file,delimiter=',',fieldnames=header_lst)
    file_write.writeheader()
    #display contents
fileContent = pd.read_csv("Header Sample.cvs")
fileContent

Empty DataFrame
Columns: [FullName, Gender, Nationality, Location, M_status, Phone number]
Index: []

In [11]:
data={'FullName':'ira','Gender':'Female','Nationality':'congol','Location':'dzaleka','M_status':'single','Phone number':'0986576727'}
with open("Header Sample.cvs","w")as file:
    file_write=csv.DictWriter(file,delimiter=',',fieldnames=data)
    file_write.writerow(data)
display=pd.read_csv("Header Sample.cvs")
display

Empty DataFrame
Columns: [ira, Female, congol, dzaleka, single, 0986576727]
Index: []